<div class="toolbar" role="banner">
    <img
      alt="Thales logo"
      src="https://www.driver-project.eu/wp-content/uploads/2019/12/thales-logo.jpg"
    />
</div>
<div class="content" role="main">
    <h1>Estoque de Módulos</h1>
    <a class="btn return" routerLink="/dashboard">Voltar para o Dashboard</a> 
</div>