<div class="toolbar" role="banner">
    <img
      alt="Thales logo"
      src="https://www.driver-project.eu/wp-content/uploads/2019/12/thales-logo.jpg"
    />
</div>
<div class="content" role="main">
    <h1>Alterar Datas</h1>
    <a class="btn return" routerLink="/dashboard">Voltar para o Dashboard</a> 

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Escolher data</mat-label>
      <input matInput [matDatepicker]="picker" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="false"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker [disabled]="false"></mat-datepicker>
    </mat-form-field>

</div>



