<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      alt="Thales logo"
      src="https://www.driver-project.eu/wp-content/uploads/2019/12/thales-logo.jpg"
    />
</div>
  
  <div class="content" role="main">
    <h1>Dashboard</h1>
    <a class="btn" routerLink="/monitoramento-producao">
      MONITORAMENTO DA PRODUÇÃO
    </a> 
    <a class="btn" routerLink="/datas">
      ALTERAR DATAS
    </a> 
    <a class="btn" routerLink="/prioridades">
      ALTERAR PRIORIDADES
    </a> 
    <a class="btn" routerLink="/estoque-modulos">
      ESTOQUE DE MÓDULOS
    </a> 
  </div>
  