<div class="toolbar" role="banner">
    <img
      alt="Thales logo"
      src="https://www.driver-project.eu/wp-content/uploads/2019/12/thales-logo.jpg"
    />    
</div>
<div class="content" role="main">
  <div id="mySidenav" class="sidenav">
    <a *ngFor="let bu of bus" 
      routerLink="/monitoramento-producao/{{bu.id}}" 
      routerLinkActive="active-link"
      id="{{bu.name}}">
        {{bu.name}}
    </a>
  </div>
    <h1 *ngIf="selectedBU">Monitoramento da Produção - {{selectedBU.name}}</h1>
    <a class="btn return" routerLink="">Voltar para o Dashboard</a> 
    <table mat-table [dataSource]="orders">
      <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
        
        <th mat-header-cell *matHeaderCellDef>
          {{col === 'isPriority'? "Prioridade" : col}}
        </th>

        <td mat-cell *matCellDef="let element">
          <p *ngIf="col !== 'isPriority'">
            {{col !== 'ProductionDate'? element[col] : element[col].substring(0,10) | customDatePipe}}
          </p>
          <p *ngIf="col === 'isPriority'"> 
            <mat-checkbox [checked]="element[col]"></mat-checkbox>
          </p>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>