table {
  width: 70%;
  text-align: center;
}

.mat-header-cell{
  text-align: center;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -30px; /* Position them outside of the screen */
  text-align: right;
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 130px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

#mySidenav a:not(.active-link):hover {
  background-color: rgb(22, 81, 89);
}

/* The about link: 20px from the top with a green background */
[id='BPS'] {
  top: 80px;
  background-color: rgb(25, 22, 89);
}

[id='BPS'].active-link {
  background-color: rgb(89, 188, 185);
}

[id='MCS'] {
  top: 140px;
  background-color: rgb(25, 22, 89);
}

[id='MCS'].active-link {
  background-color: rgb(89, 188, 185);
}

[id='ASSEMBLY'] {
  top: 200px;
  background-color: rgb(25, 22, 89);
}

[id='ASSEMBLY'].active-link {
  background-color: rgb(89, 188, 185);
}

[id='CARD BODY'] {
  top: 260px;
  background-color: rgb(25, 22, 89);
}

[id='CARD BODY'].active-link {
  background-color: rgb(89, 188, 185);
}

[id='METRONIC'] {
  top: 320px;
  background-color: rgb(25, 22, 89);
}

[id='METRONIC'].active-link {
  background-color: rgb(89, 188, 185);
}

