  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 40px auto;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    height: 60px;
  }
  
  .toolbar img {
    max-width:100%;
    max-height:100%;
  }
  
  .content {
    display: flex;
    margin: 82px auto;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    all: unset;
    border-radius: 4px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    background-color: rgb(25, 22, 89);
    color: white;
    min-width: 30%;
  }

  .btn:hover {
    background-color: rgb(89, 188, 185);
    transition: 0.3s;
    cursor:pointer;
  }

  .return {
    line-height: 12px;
    margin-top: 2px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
